.swiper-container {
  width: 100vw;
  height: calc(100vh - 140px);
  margin-left: auto;
  margin-right: auto;
  background: black !important;

}


.slider-img {
  width: 100%;
  object-fit: cover;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}

.slider-text {
  position: relative;
  bottom: -328px;
  left: 200px;
  color: #FFFFFF;
  font-size: 20px;
  border-left: 2px solid #094fa3;
  padding-left: 15px;
  max-width: 70%;
  animation: moveInfromBot;
  animation-name: moveInfromBot;
  animation-duration: 2.5s;
}

.slider-title {
  position: relative;
  bottom: -328px;
  left: 200px;
  color: #FFFFFF;
  font-size: 70px;
  border-left: 2px solid #094fa3;
  padding-left: 15px;
  letter-spacing: 20px;
  max-width: 70%;
  animation: moveInfromBot;
  animation-name: moveInfromBot;
  animation-duration: 2s;


}

svg {
  position: relative;
  z-index: 11;
}

svg:hover {
  fill: #094fa3;
}

.cover-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;


}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  position: relative;
  right: 25px;

}
@keyframes moveInfromBot {
  0% {
    opacity: 0;
    transform: translateY(1000px);

  }

  100% {

    opacity: 1;
    transform: translate(0);

  }
}

@media only screen  and (min-width:1200px) and (max-width: 1450px) {
  .slider-title {
    bottom: 500px;
  }
  .slider-text {
    bottom: 500px;
  }

}
@media only screen  and (min-width:320px) and (max-width: 420px) {
  .slider-title {
    bottom:-200px;
    left: 12px;
    font-size: 13px;

  }
  .swiper-container {
    height: calc(100vh - 70px);
  }
  .slider-text {
    bottom:-200px;
    left: 12px;
    font-size: 13px;
    letter-spacing: 5px;
  }
  .swiper-button-next:after {
    display: none;
  }
  .swiper-button-prev:after {
    display: none;
  }
  .slider-img {
    height: calc(100vh - 70px);
  }
  .cover-img {
    height: calc(100vh - 70px);
  }
  }
