
<div class="swiper-container" #slidesContainer>
  <div class="swiper-wrapper">
    <div class="swiper-slide"   *ngFor="let slide of sliders" >
        <h1 class="slider-title">{{slide.slider_text_title}}</h1>
        <p class="slider-text">{{slide.slider_text}}</p>
    </div>
<!--    [ngStyle]="{ 'background-image': 'url(' + slide.image_url + ')'}"-->
  </div>
  <img class="cover-img" src="assets/images/20794.jpg" alt="">

  <div (click)="next()"
    class="swiper-button-next swiper-button-white">

  </div>
  <div (click)="prev()"
    class="swiper-button-prev swiper-button-white">

  </div>

</div>


<app-about></app-about>
