<header>
  <a class="logo_link" href="/"><img alt="Ccom logo" class="logo" src="assets/images/LOGO.png"></a>
  <nav>
    <ul class="nav" >
      <li><a routerLink="/">HOME</a></li>
      <li><a routerLink="/services-and-solutions">Services & Solutions</a></li>
      <li><a routerLink="/partners-and-customers">Partners & customers</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
<!--    [class.nav]="show" [class.none]="!show"-->
  </nav>
  <div (click)="overlayOpen()"
       [ngClass]="burger ? 'change' : 'burger'"
        id="menu">
    <span class="burger_item" id="bar1"></span>
    <span class="burger_item" id="bar2"></span>
    <span class="burger_item" id="bar3"></span>
  </div>
  <div *ngIf="ShowOverlay" class="overlay" id="burger_overlay">
    <ul class="burger_list">
      <li><a (click)="overlayClose()" routerLink="/">HOME</a></li>
      <li><a (click)="overlayClose()" routerLink="/services-and-solutions">SERVICES & SOLUTIONS</a></li>
      <li><a (click)="overlayClose()" routerLink="/partners-and-customers">Partners & Customers</a></li>
      <li><a (click)="overlayClose()" routerLink="/contact">Contact</a></li>

    </ul>
  </div>

</header>
<app-facebook></app-facebook>
<app-motorola></app-motorola>


<router-outlet></router-outlet>

<footer>
  <p class="year-and-name"><span style="color: #494949"> ©  {{year}} </span> COMMUNICOM LLC</p>
  <img alt="ccom logo" src="assets/images/links-logo.JPG">
  <p>ALL RIGHTS RESERVED</p>
</footer>

