footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: black;
  width: 100vw;
}

footer> img {
  width: 35px;
}
footer p {
  color: #FFFFFF;
  letter-spacing: 5px;
}

header {

  /*position: absolute;*/
  /*left: 100px;*/
  /*top: 0;*/
  /*z-index: 100;*/
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  width: 100vw;
  position: relative;
}
.logo {
  width: 250px;

}

.logo_link {
  animation: moveInfromLeft;
  animation-name: moveInfromLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  position: relative;
  z-index: 150;

}
.none {
  opacity: 0;
}
@keyframes moveInfromLeft {
  0% {
    opacity: 0;
    transform: translateX(-1000px);

  }

  100% {

    opacity: 1;
    transform: translate(0);

  }
}
@keyframes navMoveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-1000px);

  }

  100% {
    opacity: 1;
    transform: translate(0);

  }
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  float: right;
  align-items: center;
  animation: moveInfromLeft;
  animation-name: moveInfromLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  position: relative;
  top: 35px;
  background-color: black;


}


.nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  text-transform: uppercase;
  color: #FFF;
}
.nav li  {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*burger*/


.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.burger_item  {
  display: none;
  width: 20px;
  height: 3px;
  background-color:#094fa3;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-right: 15px;
  position: relative;
  z-index: 100;
}

#bar2 {
  width: 16px;
}

.change #menu {
  background-color: gray;

}
#bar1 {
  transform: translateY(-3px);
}
#bar3 {
  transform: translateY(3px);
}


.change #bar1{

  transform: translateY(3px) rotateZ(-45deg);

}

.change #bar3 {

  transform: translateY(-3px)  rotate(45deg);

}
.change #bar2 {
  opacity: 0;
}

.overlay {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #141519;
  z-index: 7;
  overflow: hidden;
  height: 100vh;
}

.burger_list {
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;



}

.burger_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147px;
}
.burger_list li a {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #094fa3;

}
.burger_footer img {
  width: 25px;
  padding-bottom: 15px;
}
.burger_footer {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  /*margin: 0 auto;*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.year-and-name1 {
  color: #FFFFFF;
  letter-spacing: 3px;
  font-size: 9px;
}
.rights {
  color: #FFFFFF;
  letter-spacing: 3px;
  font-size: 9px;
}
/*burger*/
@media only screen  and (min-width:320px) and (max-width: 420px) {
.nav {
  display: none;
}
  .logo {
    width: 160px;
  }
  header {
    height: 70px;
  }
  .burger_item {
    display: flex;

  }
  .burger {
    display: flex;
  }
  footer {
    display: flex;
   flex-direction: column;
  }
  footer img {
    order: -1;
  }
  footer p {
    font-size: 12px;
  }
  .year-and-name {
    order: 1;
  }
}

  @media only screen  and (min-width:1200px) and (max-width: 1450px) {
  .nav {
    width: 80%;
  }
}


