<header>
    <a class="logo_link" href="/"><img class="logo" src="assets/images/LOGO.png" alt="Ccom logo"></a>

    <nav>
      <ul [class.none]="!show" [class.nav]="show" >
        <li><a routerLink="/">HOME</a></li>
        <li><a routerLink="/services-and-solutions">Servises & Solutions</a></li>
        <li><a routerLink="/partners-and-customers">Partners & customers</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  <div class="burger" id="menu">
    <span class="burger_item" id="bar1"></span>
    <span class="burger_item" id="bar2"></span>
    <span class="burger_item" id="bar3"></span>
  </div>

</header>



<router-outlet></router-outlet>

<footer>
  <p class="year-and-name"> <span style="color: #494949"> ©  {{year}} </span>  COMMUNICOM LLC</p>
  <img src="assets/images/links-logo.JPG" alt="ccom logo">
  <p>ALL RIGHTS RESERVED</p>
</footer>

