.customer-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

.customer-img {
  width: 250px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: unset;
}
.swiper-button-prev:after, .swiper-button-next:after {
  color: black;
}


@media only screen  and (min-width:320px) and (max-width: 420px) {
  .customer-img {
    width: 120px;
  }
}
