<section *ngFor="let items of about">
  <div class="about-section">
    <div class="text-content">
      <h2> ABOUT</h2>
      <p>{{items.text}}</p>
    </div>
    <div class="img-div">
      <img [src]="items.image_url" alt="about-image" class="about-img">
    </div>
  </div>
</section>

<section class="solution_sections">
  <div>
    <h2 class="solution-heading">Solution</h2>
    <ul>
      <li *ngFor="let item of links" class="link-list">
        <img alt="icon" class="link-logo" src="./assets/images/links-logo.JPG">
        <a class="link" routerLink="/services-and-solutions">{{item.link}}</a>
      </li>
    </ul>
  </div>
  <div class="empty">

  </div>
</section>
