.customer-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

.customer-img {
  width: 250px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

