.partners-text {
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-text p {
  max-width: 70%;
  word-wrap: break-word;
}
.partners-text p::after {
  content: "";
  width: 50px;
  background: url("/assets/images/down-arrow.png");
  display: block;

}
.partners-text h1 {
  padding-bottom: 25px;
  font-size: 33px;
  text-transform: uppercase;
}
.partners-text h1::after {
  display: block;
  content: '';
  width: 88px;
  height: 5px;
  background-color: #094fa3;
  position: relative;
  top: 10px;
  right: -170px;
}

.container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 70%;
}
.sectoin-img img{
  width: 50px;
}
